---
import Layout from "../../layouts/BaseLayouts.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Card from "../../components/blog/card/Card.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout>
  <section class="seccion-usuarios">
    <ul>
      {
        posts.map((post) => (
          <li>
            <Card
              title={post.data.title}
              img={post.data.heroImage}
              description={post.data.description}
              date={post.data.pubDate}
            />
          </li>
        ))
      }
    </ul>
  </section>
</Layout>

<style>
  ul {
    display: flex;
    margin-left: 14rem;
    flex-direction: column;
    padding: 0px;
    gap: 10px;
  }

  li {
    list-style: none;
  }

  @keyframes slideInRight {
    from {
      opacity: 0.5;
      transform: translateX(-24%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .seccion-usuarios {
    animation: slideInRight 0.4s ease-out;
  }
</style>
