/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --bg: #212121;
  --font-color: white;
  --font-color-p: #ffffff;
  --gray-gradient: #212121;

  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;

  font-family: "IBM Plex Sans", sans-serif;
  background: black;
  background-image: radial-gradient(
    circle,
    rgba(23, 23, 23, 1) 0%,
    rgba(10, 10, 10, 1) 100%
  );

  color: var(--font-color);
  font-size: 20px;
}

main {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
}

h1,
h2 {
  /* margin: 0px; */
}

p {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 20px;
  color: var(--font-color-p);
}

hr {
  border: 0px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.322);
}
