/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --bg: #212121;
  --font-color: #ececec;
  --font-color-p: #afafaf;
  /* --font-color: white; */
}
@font-face {
  font-family: "Meslo";
  src: url("/fonts/MesloLGS NF Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Meslo";
  src: url("/fonts/MesloLGS NF Regular.ttf") format("tff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

body {
  margin: 0;
  padding: 0;

  font-family: "Meslo", sans-serif;
  background: radial-gradient(
    circle,
    rgba(23, 23, 23, 1) 0%,
    rgba(10, 10, 10, 1) 100%
  );
  color: var(--font-color);
  font-size: 20px;
}

main {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
}

h1,
h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0px;
}

p {
  font-size: 1.2rem;
  color: var(--font-color-p);
}
