.header-styled {
  margin: 0;
  background-color: #030303;
  border-bottom: 2px solid #262626;

  transition: all 0.5s ease;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-nav a {
  padding: 1em 0.5em;
  color: var(--black);
  border-bottom: 4px solid transparent;
  text-decoration: none;
}
.header-nav a.active {
  text-decoration: none;
  border-bottom-color: var(--accent);
}

.header-in-blog {
  animation: slideHeaderLeft 1s ease-in-out forwards;
}

.svg-color {
  color: red;
  background-color: red;
}

@keyframes slideHeaderLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-95%);
    border-radius: 0px 35px 35px 0px;
    border-right: 2px solid #262626;
    height: 100px;
  }
}
