---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
    transform: skew(-16deg);
    background-color: #212121;
  }
  a.active {
    background-color: #fcde01;
    color: #0e0303;
    font-weight: 700;
    padding: 20px 28px;
    /* text-decoration: underline; */
  }
</style>
