.header-styled {
  margin: 0;
  background-color: #030303;
  border-bottom: 2px solid #262626;

  transition: all 0.5s ease;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-title {
  color: #0e0303;
  background-color: #fcde01;
  transform: skew(-16deg);
  border-radius: 12px 0px 12px 0px;
}

.header-title a {
  color: #0e0303;
  text-decoration: none;
  padding: 20px 28px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .header-icon {
    display: none;
  }
}
