.card-article {
  display: flex;
  width: fit-content;
  height: fit-content;

  background-color: #000000;
  background: radial-gradient(
    circle,
    rgb(8, 8, 8) 0%,
    rgba(12, 12, 12, 1) 100%
  );
  box-shadow: 3px 3px 4px -1px rgba(255, 255, 255, 0.11) inset;

  border: 4px solid;
  border-color: #080808;
  border-radius: 20px;

  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.card-article:hover {
  transform: scale(1.04);
}

.card-text-content {
  padding: 0px 30px 14px 30px;
}

.card-text-content p {
  /* height: 100px; */
  /* width: 500px; */

  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text-content header h2 {
  max-width: 600px;
}

.card-tag-list {
  display: flex;
  gap: 8px;
}

.card-tag {
  font-size: 16px;
  padding: 1px 10px;
  border-radius: 4px 0px 4px 0px;
  transform: skew(-20deg);

  box-shadow: 3px 3px 4px -1px rgba(255, 255, 255, 0.315) inset;
}

.tag-Analisis {
  background-color: #730000;
}

.tag-Reflexion {
  background-color: #283d58;
}

.tag-Review {
  background-color: #654b16;
}
.card-figure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.card-img {
  object-fit: cover;
  width: 250px;
  height: 100%;
  border-radius: 12px;
}

.card-small {
  font-size: 0.8rem;
  color: #d3d3d3;
  font-style: italic;
}

.card-link-wrapper {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card-link-wrapper:visited .card-text-content header h2 {
  color: violet;
}

@media (max-width: 768px) {
  .card-article {
    flex-direction: column-reverse;
    align-items: center;
  }

  .card-img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .card-text-content {
    padding: 0px 30px 14px 30px;
  }

  .card-text-content p,
  .card-text-content header h2 {
    width: 100%;
  }
}
