---
// src/layouts/BaseLayout.astro
import Header from "../components/header/Header.astro";
import Footer from "../components/Footer.astro"; // opcional
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="scroll-hint hidden" id="scroll-hint">Desliza para leer ⬇</div>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  .scroll-hint {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    /* opacity: 0.7; */
    animation: bounce 1.5s infinite;

    background-color: black;
    padding: 12px;
    border-radius: 22px;
  }

  .scroll-hint.hidden {
    display: none;
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translate(-50%, 0);
    }
    50% {
      transform: translate(-50%, 5px);
    }
  }
</style>

<script>
  window.addEventListener("DOMContentLoaded", () => {
    const hint: HTMLElement | null = document.getElementById("scroll-hint");
    const isScrollable = document.body.scrollHeight > window.innerHeight;

    if (isScrollable) {
      hint!.classList.remove("hidden");

      const handleUserScroll = () => {
        hint!.classList.add("hidden");

        window.removeEventListener("scroll", handleUserScroll);
      };

      window.addEventListener("scroll", handleUserScroll, { once: true });
    }
  });
</script>
